@mixin flex($ver, $hor, $gap) {
    align-items: $hor;
    justify-content: $ver;
    display: flex;
    gap: $gap;
}
@mixin font($s, $b, $c) {
    font-size: $s;
    font-family: "Cairo", sans-serif;
    font-weight: $b;
    color: $c;
}
@mixin button($theme) {
    border: none;
    $color: map-get($colors, $theme);
    border-radius: 0.3rem;
    @include flex(center, center, 0);
    background: rgba(map-get($colors, $theme), 0.4);
    @include font(1.3rem, bold, darken(map-get($colors, $theme), 30));
    height: 100%;
    transition: 0.1s ease-in-out;
    cursor: pointer;
    &:hover {
        background: rgba(map-get($colors, $theme), 0.6);
    }
    &:focus {
        background: darken(rgba(map-get($colors, $theme), 0.4), 20);
        color: darken(map-get($colors, $theme), 50);
    }
}
$colors: (
    "main": #1fa2ff,
    "side": #12d8fa,
    "danger": #ff3838,
    "success": #40ff19,
    "warning": darken(#1fa2ff, 20),
);

* {
    user-select: none;
}

body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    @include flex(center, center, 0);
    background: linear-gradient(45deg, map-get($colors, "main"), map-get($colors, "side"));
}
.calculator {
    $borderRadius: 1rem;
    width: clamp(300px, 50%, 25vw);
    height: 75vh;
    margin: auto;
    border-radius: $borderRadius;
    background: lighten(map-get($colors, "main"), $amount: 30);
    @include flex(center, center, 5px);
    flex-direction: column;
    padding: 0.5rem 1rem;
    .title {
        @include font(1.5rem, bold, darken(map-get($colors, "main"), 30));
    }
    .screen {
        width: 100%;
        height: 25%;
        border-radius: $borderRadius;
        @include flex(center, center, 5px);
        flex-direction: column;
        padding: 0.2rem;
        .history {
            height: 10%;
            width: 100%;
            @include flex(right, center, 0);
            @include font(1rem, bold, #0006);
        }
        .value {
            text-align: right;
            background: transparent;
            border: none;
            width: 100%;
            @include flex(right, center, 0);
            @include font(1.8rem, bold, darken(map-get($colors, "main"), 30));
            cursor: initial;
            &:focus {
                outline: none;
            }
        }
    }
    .keyboard {
        width: 100%;
        height: 75%;
        border-radius: $borderRadius;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(6, 1fr);
        gap: 3px;
        padding: 1rem;
        button {
            @include button("main");
            &#button4 {
                @include button("danger");
            }
            &#button24 {
                @include button("success");
            }
            &#button20,
            &#button16,
            &#button12,
            &#button8,
            &#button7,
            &#button6,
            &#button5,
            &#button3,
            &#button2,
            &#button1 {
                @include button("warning");
            }
        }
    }
}
